.expanded-movie-item {
	background-color: #fff;
	flex: 1;
	padding: 5px 10px;
	margin: 5px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}
.close-btn {
	align-self: flex-end;
	font-size: 2em;
	cursor: pointer;
}
.close-btn:hover {
	background-color: #fb8;
	border: #fff;
}
.expanded-poster {
	width: 25%;
	object-fit: contain;
}
.expanded-rating {
	font-size: 1.5em;
}
.expanded-title {
	font-size: 1.9em;
	color: #222;
}
.expanded-summary {
	font-size: 1.2em;
}
.imdb-link {
	background-color: #fb0;
	text-decoration: none;
	padding: 2px 5px;
	border-radius: 7px;
	border: 2px solid #000;
	color: #000;
}
.expanded-genre {
	font-size: 1em;
	font-weight: normal;
	display: flex;
	margin-bottom: 2px;
	flex-wrap: wrap;
}
.expanded-genre-item {
	background-color: transparent;
	border: 2px solid #422;
	color: #422;
	padding: 7px 7px;
	border-radius: 7px;
	margin: 0px 3px;
}
.expanded-year {
	flex-wrap: wrap;
	line-height: 2;
}
